/* src/SplashScreen.css */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #282c34;
  color: #d3d3c7;
  font-family: 'Tajawal';
  text-align: center;
}

.welcome-message h1 {
  font-size: 2rem;
  margin: 0;
  position: relative;
  display: inline-block;
}

.welcome-message h1::before {
  content: '•';
  font-size: 1.5rem;
  position: absolute;
  left: -1.5rem;
  top: 0.25rem;
  color: #d3d3c7; 
}
